<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kp.fus.dao.GerQScoreDao">
  <resultMap id="gerQScoreResult" type="com.kp.fus.model.GerQScore">
    <id column="id" 					jdbcType="INTEGER" property="id" />
    <result column="ticket_id" 			jdbcType="VARCHAR" property="ticketId" />
    <result column="record_id" 			jdbcType="VARCHAR" property="recordId" />
    <result column="heart_burn" 		jdbcType="VARCHAR" property="heartBurn" />
    <result column="palirrhea" 			jdbcType="VARCHAR" property="palirrhea" />
    <result column="epigastric_pain" 	jdbcType="VARCHAR" property="epigastricPain" />
    <result column="nausea" 			jdbcType="VARCHAR" property="nausea" />
    <result column="dyssomnia" 			jdbcType="VARCHAR" property="dyssomnia" />
    <result column="is_otc" 			jdbcType="VARCHAR" property="isOtc" />
    <result column="create_time" 		jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" 		jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="gerQScoreResult">
    select *  from ger_q_score    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByQua" parameterType="Map" resultMap="gerQScoreResult">
    select *  from ger_q_score   where 1=1
    <if test="recordId!=null||recordId!=''">
    	and record_id = #{recordId}
    </if>
  </select>	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ger_q_score   where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kp.fus.model.GerQScore">
    insert into ger_q_score (id, ticket_id, record_id, 
      heart_burn, palirrhea, epigastric_pain, 
      nausea, dyssomnia, is_otc, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{ticketId,jdbcType=VARCHAR}, #{recordId,jdbcType=VARCHAR}, 
      #{heartBurn,jdbcType=VARCHAR}, #{palirrhea,jdbcType=VARCHAR}, #{epigastricPain,jdbcType=VARCHAR}, 
      #{nausea,jdbcType=VARCHAR}, #{dyssomnia,jdbcType=VARCHAR}, #{isOtc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kp.fus.model.GerQScore">
    insert into ger_q_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="heartBurn != null">
        heart_burn,
      </if>
      <if test="palirrhea != null">
        palirrhea,
      </if>
      <if test="epigastricPain != null">
        epigastric_pain,
      </if>
      <if test="nausea != null">
        nausea,
      </if>
      <if test="dyssomnia != null">
        dyssomnia,
      </if>
      <if test="isOtc != null">
        is_otc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="heartBurn != null">
        #{heartBurn,jdbcType=VARCHAR},
      </if>
      <if test="palirrhea != null">
        #{palirrhea,jdbcType=VARCHAR},
      </if>
      <if test="epigastricPain != null">
        #{epigastricPain,jdbcType=VARCHAR},
      </if>
      <if test="nausea != null">
        #{nausea,jdbcType=VARCHAR},
      </if>
      <if test="dyssomnia != null">
        #{dyssomnia,jdbcType=VARCHAR},
      </if>
      <if test="isOtc != null">
        #{isOtc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kp.fus.model.GerQScore">
    update ger_q_score
    <set>
      <if test="heartBurn != null">
        heart_burn = #{heartBurn,jdbcType=VARCHAR},
      </if>
      <if test="palirrhea != null">
        palirrhea = #{palirrhea,jdbcType=VARCHAR},
      </if>
      <if test="epigastricPain != null">
        epigastric_pain = #{epigastricPain,jdbcType=VARCHAR},
      </if>
      <if test="nausea != null">
        nausea = #{nausea,jdbcType=VARCHAR},
      </if>
      <if test="dyssomnia != null">
        dyssomnia = #{dyssomnia,jdbcType=VARCHAR},
      </if>
      <if test="isOtc != null">
        is_otc = #{isOtc,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR}
      </if>
    </set>
    where  record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kp.fus.model.GerQScore">
    update ger_q_score
    set ticket_id = #{ticketId,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=VARCHAR},
      heart_burn = #{heartBurn,jdbcType=VARCHAR},
      palirrhea = #{palirrhea,jdbcType=VARCHAR},
      epigastric_pain = #{epigastricPain,jdbcType=VARCHAR},
      nausea = #{nausea,jdbcType=VARCHAR},
      dyssomnia = #{dyssomnia,jdbcType=VARCHAR},
      is_otc = #{isOtc,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>