<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kp.fus.dao.GerSymptomQueDao">
  <resultMap id="gerSymptomQueResult" type="com.kp.fus.model.GerSymptomQue">
    <id column="id" 					jdbcType="INTEGER" property="id" />
    <result column="ticket_id" 			jdbcType="VARCHAR" property="ticketId" />
    <result column="record_id" 			jdbcType="VARCHAR" property="recordId" />
    <result column="patient_name" 		jdbcType="VARCHAR" property="patientName" />
    <result column="patient_sex" 		jdbcType="VARCHAR" property="patientSex" />
    <result column="patient_age" 		jdbcType="VARCHAR" property="patientAge" />
    <result column="patient_career" 	jdbcType="VARCHAR" property="patientCareer" />
    <result column="patient_contact" 	jdbcType="VARCHAR" property="patientContact" />
    <result column="site_home" 			jdbcType="VARCHAR" property="siteHome" />
    <result column="site_work" 			jdbcType="VARCHAR" property="siteWork" />
    <result column="patient_education" 	jdbcType="VARCHAR" property="patientEducation" />
    <result column="patient_married" 	jdbcType="VARCHAR" property="patientMarried" />
    <result column="patient_child" 		jdbcType="VARCHAR" property="patientChild" />
    <result column="patient_economy" 	jdbcType="VARCHAR" property="patientEconomy" />
    <result column="patient_pay_mode" 	jdbcType="VARCHAR" property="patientPayMode" />
    <result column="patient_group" 		jdbcType="VARCHAR" property="patientGroup" />
    <result column="work_time" 			jdbcType="VARCHAR" property="workTime" />
    <result column="work_onway" 		jdbcType="VARCHAR" property="workOnway" />
    <result column="pressure" 			jdbcType="VARCHAR" property="pressure" />
    <result column="eat_outside_times" 	jdbcType="VARCHAR" property="eatOutsideTimes" />
    <result column="eat_speed" 			jdbcType="VARCHAR" property="eatSpeed" />
    <result column="eat_full" 			jdbcType="VARCHAR" property="eatFull" />
    <result column="eat_drink" 			jdbcType="VARCHAR" property="eatDrink" />
    <result column="eat_smoke" 			jdbcType="VARCHAR" property="eatSmoke" />
    <result column="eat_smoke_amount" 	jdbcType="VARCHAR" property="eatSmokeAmount" />
    <result column="illness_last_time" 	jdbcType="VARCHAR" property="illnessLastTime" />
    <result column="other_illness" 		jdbcType="VARCHAR" property="otherIllness" />
    <result column="check_name" 		jdbcType="VARCHAR" property="checkName" />
    <result column="check_time" 		jdbcType="VARCHAR" property="checkTime" />
    <result column="check_result" 		jdbcType="VARCHAR" property="checkResult" />
    <result column="is_ppi" 			jdbcType="VARCHAR" property="isPpi" />
    <result column="ppi_time" 			jdbcType="VARCHAR" property="ppiTime" />
    <result column="remark" 			jdbcType="VARCHAR" property="remark" />
    <result column="create_time" 		jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" 		jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="gerSymptomQueResult">
    select *  from ger_symptom_que  where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByQua" parameterType="Map" resultMap="gerSymptomQueResult">
    select *  from ger_symptom_que   where 1=1
    <if test="recordId!=null||recordId!=''">
    	and record_id = #{recordId}
    </if>
  </select>	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ger_symptom_que  where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kp.fus.model.GerSymptomQue">
    insert into ger_symptom_que (ticket_id, record_id, 
      patient_name, patient_sex, patient_age, 
      patient_career, patient_contact, site_home, 
      site_work, patient_education, patient_married, 
      patient_child, patient_economy, patient_pay_mode, 
      patient_group, work_time, work_onway, 
      pressure, eat_outside_times, eat_speed, 
      eat_full, eat_drink, eat_smoke, 
      eat_smoke_amount, illness_last_time, other_illness, 
      check_name, check_time, check_result, 
      is_ppi, ppi_time, remark, 
      create_time, update_time)
    values ( #{ticketId,jdbcType=VARCHAR}, #{recordId,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{patientSex,jdbcType=VARCHAR}, #{patientAge,jdbcType=VARCHAR}, 
      #{patientCareer,jdbcType=VARCHAR}, #{patientContact,jdbcType=VARCHAR}, #{siteHome,jdbcType=VARCHAR}, 
      #{siteWork,jdbcType=VARCHAR}, #{patientEducation,jdbcType=VARCHAR}, #{patientMarried,jdbcType=VARCHAR}, 
      #{patientChild,jdbcType=VARCHAR}, #{patientEconomy,jdbcType=VARCHAR}, #{patientPayMode,jdbcType=VARCHAR}, 
      #{patientGroup,jdbcType=VARCHAR}, #{workTime,jdbcType=VARCHAR}, #{workOnway,jdbcType=VARCHAR}, 
      #{pressure,jdbcType=VARCHAR}, #{eatOutsideTimes,jdbcType=VARCHAR}, #{eatSpeed,jdbcType=VARCHAR}, 
      #{eatFull,jdbcType=VARCHAR}, #{eatDrink,jdbcType=VARCHAR}, #{eatSmoke,jdbcType=VARCHAR}, 
      #{eatSmokeAmount,jdbcType=VARCHAR}, #{illnessLastTime,jdbcType=VARCHAR}, #{otherIllness,jdbcType=VARCHAR}, 
      #{checkName,jdbcType=VARCHAR}, #{checkTime,jdbcType=VARCHAR}, #{checkResult,jdbcType=VARCHAR}, 
      #{isPpi,jdbcType=VARCHAR}, #{ppiTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kp.fus.model.GerSymptomQue">
    insert into ger_symptom_que
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="patientSex != null">
        patient_sex,
      </if>
      <if test="patientAge != null">
        patient_age,
      </if>
      <if test="patientCareer != null">
        patient_career,
      </if>
      <if test="patientContact != null">
        patient_contact,
      </if>
      <if test="siteHome != null">
        site_home,
      </if>
      <if test="siteWork != null">
        site_work,
      </if>
      <if test="patientEducation != null">
        patient_education,
      </if>
      <if test="patientMarried != null">
        patient_married,
      </if>
      <if test="patientChild != null">
        patient_child,
      </if>
      <if test="patientEconomy != null">
        patient_economy,
      </if>
      <if test="patientPayMode != null">
        patient_pay_mode,
      </if>
      <if test="patientGroup != null">
        patient_group,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="workOnway != null">
        work_onway,
      </if>
      <if test="pressure != null">
        pressure,
      </if>
      <if test="eatOutsideTimes != null">
        eat_outside_times,
      </if>
      <if test="eatSpeed != null">
        eat_speed,
      </if>
      <if test="eatFull != null">
        eat_full,
      </if>
      <if test="eatDrink != null">
        eat_drink,
      </if>
      <if test="eatSmoke != null">
        eat_smoke,
      </if>
      <if test="eatSmokeAmount != null">
        eat_smoke_amount,
      </if>
      <if test="illnessLastTime != null">
        illness_last_time,
      </if>
      <if test="otherIllness != null">
        other_illness,
      </if>
      <if test="checkName != null">
        check_name,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="isPpi != null">
        is_ppi,
      </if>
      <if test="ppiTime != null">
        ppi_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null">
        #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientCareer != null">
        #{patientCareer,jdbcType=VARCHAR},
      </if>
      <if test="patientContact != null">
        #{patientContact,jdbcType=VARCHAR},
      </if>
      <if test="siteHome != null">
        #{siteHome,jdbcType=VARCHAR},
      </if>
      <if test="siteWork != null">
        #{siteWork,jdbcType=VARCHAR},
      </if>
      <if test="patientEducation != null">
        #{patientEducation,jdbcType=VARCHAR},
      </if>
      <if test="patientMarried != null">
        #{patientMarried,jdbcType=VARCHAR},
      </if>
      <if test="patientChild != null">
        #{patientChild,jdbcType=VARCHAR},
      </if>
      <if test="patientEconomy != null">
        #{patientEconomy,jdbcType=VARCHAR},
      </if>
      <if test="patientPayMode != null">
        #{patientPayMode,jdbcType=VARCHAR},
      </if>
      <if test="patientGroup != null">
        #{patientGroup,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="workOnway != null">
        #{workOnway,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null">
        #{pressure,jdbcType=VARCHAR},
      </if>
      <if test="eatOutsideTimes != null">
        #{eatOutsideTimes,jdbcType=VARCHAR},
      </if>
      <if test="eatSpeed != null">
        #{eatSpeed,jdbcType=VARCHAR},
      </if>
      <if test="eatFull != null">
        #{eatFull,jdbcType=VARCHAR},
      </if>
      <if test="eatDrink != null">
        #{eatDrink,jdbcType=VARCHAR},
      </if>
      <if test="eatSmoke != null">
        #{eatSmoke,jdbcType=VARCHAR},
      </if>
      <if test="eatSmokeAmount != null">
        #{eatSmokeAmount,jdbcType=VARCHAR},
      </if>
      <if test="illnessLastTime != null">
        #{illnessLastTime,jdbcType=VARCHAR},
      </if>
      <if test="otherIllness != null">
        #{otherIllness,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null">
        #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="isPpi != null">
        #{isPpi,jdbcType=VARCHAR},
      </if>
      <if test="ppiTime != null">
        #{ppiTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kp.fus.model.GerSymptomQue">
    update ger_symptom_que
    <set>
      <if test="ticketId != null">
        ticket_id = #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null">
        patient_sex = #{patientSex,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null">
        patient_age = #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientCareer != null">
        patient_career = #{patientCareer,jdbcType=VARCHAR},
      </if>
      <if test="patientContact != null">
        patient_contact = #{patientContact,jdbcType=VARCHAR},
      </if>
      <if test="siteHome != null">
        site_home = #{siteHome,jdbcType=VARCHAR},
      </if>
      <if test="siteWork != null">
        site_work = #{siteWork,jdbcType=VARCHAR},
      </if>
      <if test="patientEducation != null">
        patient_education = #{patientEducation,jdbcType=VARCHAR},
      </if>
      <if test="patientMarried != null">
        patient_married = #{patientMarried,jdbcType=VARCHAR},
      </if>
      <if test="patientChild != null">
        patient_child = #{patientChild,jdbcType=VARCHAR},
      </if>
      <if test="patientEconomy != null">
        patient_economy = #{patientEconomy,jdbcType=VARCHAR},
      </if>
      <if test="patientPayMode != null">
        patient_pay_mode = #{patientPayMode,jdbcType=VARCHAR},
      </if>
      <if test="patientGroup != null">
        patient_group = #{patientGroup,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="workOnway != null">
        work_onway = #{workOnway,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null">
        pressure = #{pressure,jdbcType=VARCHAR},
      </if>
      <if test="eatOutsideTimes != null">
        eat_outside_times = #{eatOutsideTimes,jdbcType=VARCHAR},
      </if>
      <if test="eatSpeed != null">
        eat_speed = #{eatSpeed,jdbcType=VARCHAR},
      </if>
      <if test="eatFull != null">
        eat_full = #{eatFull,jdbcType=VARCHAR},
      </if>
      <if test="eatDrink != null">
        eat_drink = #{eatDrink,jdbcType=VARCHAR},
      </if>
      <if test="eatSmoke != null">
        eat_smoke = #{eatSmoke,jdbcType=VARCHAR},
      </if>
      <if test="eatSmokeAmount != null">
        eat_smoke_amount = #{eatSmokeAmount,jdbcType=VARCHAR},
      </if>
      <if test="illnessLastTime != null">
        illness_last_time = #{illnessLastTime,jdbcType=VARCHAR},
      </if>
      <if test="otherIllness != null">
        other_illness = #{otherIllness,jdbcType=VARCHAR},
      </if>
      <if test="checkName != null">
        check_name = #{checkName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="isPpi != null">
        is_ppi = #{isPpi,jdbcType=VARCHAR},
      </if>
      <if test="ppiTime != null">
        ppi_time = #{ppiTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kp.fus.model.GerSymptomQue">
    update ger_symptom_que
    set ticket_id = #{ticketId,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=VARCHAR},
      patient_age = #{patientAge,jdbcType=VARCHAR},
      patient_career = #{patientCareer,jdbcType=VARCHAR},
      patient_contact = #{patientContact,jdbcType=VARCHAR},
      site_home = #{siteHome,jdbcType=VARCHAR},
      site_work = #{siteWork,jdbcType=VARCHAR},
      patient_education = #{patientEducation,jdbcType=VARCHAR},
      patient_married = #{patientMarried,jdbcType=VARCHAR},
      patient_child = #{patientChild,jdbcType=VARCHAR},
      patient_economy = #{patientEconomy,jdbcType=VARCHAR},
      patient_pay_mode = #{patientPayMode,jdbcType=VARCHAR},
      patient_group = #{patientGroup,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=VARCHAR},
      work_onway = #{workOnway,jdbcType=VARCHAR},
      pressure = #{pressure,jdbcType=VARCHAR},
      eat_outside_times = #{eatOutsideTimes,jdbcType=VARCHAR},
      eat_speed = #{eatSpeed,jdbcType=VARCHAR},
      eat_full = #{eatFull,jdbcType=VARCHAR},
      eat_drink = #{eatDrink,jdbcType=VARCHAR},
      eat_smoke = #{eatSmoke,jdbcType=VARCHAR},
      eat_smoke_amount = #{eatSmokeAmount,jdbcType=VARCHAR},
      illness_last_time = #{illnessLastTime,jdbcType=VARCHAR},
      other_illness = #{otherIllness,jdbcType=VARCHAR},
      check_name = #{checkName,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=VARCHAR},
      check_result = #{checkResult,jdbcType=VARCHAR},
      is_ppi = #{isPpi,jdbcType=VARCHAR},
      ppi_time = #{ppiTime,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>